*{
    font-family: "Poppins";
}

@tailwind base;
@tailwind components;
@tailwind utilities;

 @import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap'); 


.center {
    display: flex;
    justify-content: center;
    align-items: centernpm;
}



 